/*Fuente externa*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*Generales*/
body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#main{
    display: flex;
}
.hide{
    display:none !important;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login h1{
    margin: 1rem 0;
    font-size: 4rem;
    text-align: center;
    color: white;
}
#form{
    margin: auto;
    padding: 1rem;
    text-align: center;
    color: white;
}
hr{
    width: 50%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid white;
}

/*Login*/
#login{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #21C08B;
}

input{
    padding:0.5rem 1rem;
    margin: 1rem;
    background: transparent;
    border: none;
    border-bottom:  2px solid white;
    color: white !important;
    
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
input:focus{
	outline:0px;
}
.btn{
    margin: .375rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    border-radius: 4rem;
    color: white;
    padding: .84rem 3rem;
    font-size: .81rem;
}
.gray{
    background: rgba(238, 238, 238,0.5);
}
.primary{
    background: #5254ff;
}

/*Game*/
#game{
    width: 100%;
    height: 100vh;
    background: #80DED9;
}
#main-circle{
    position: absolute;
    display: flex;
    flex-direction: column;
    width:60vh;
    height:60vh;
    margin: auto;
    background: chocolate;
    border-radius: 50%;
    -webkit-box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.75);
    overflow: hidden;
}

#celeste{
    flex:1;
    background: #33b5e5;
}
#celeste.light{
    background: #77d5f7;
}
.celeste:active{
    background: #77d5f7 !important;
}
#naranja{
    flex:1;
    background: #ff9800;
}
#naranja.light{
    background: #ffb64a;
}
.naranja:active{
    background: #ffb64a !important;
}
#violeta{
    flex:1;
    background: #aa66cc;
}
#violeta.light{
    background:#cc8aed;
}
.violeta:active{
    background:#cc8aed !important;
}
#verde{
    flex:1;
    background: #00C851;
}
#verde.light{
    background: #1df575;
}
.verde:active{
    background: #1df575 !important;
}
#top{
    display: flex;
    height: 50%;
}
#bottom{
    display: flex;
    height: 50%;
}
#data-player{
    position: absolute;
    right: 0;
    width: 50%;
    height: 50vh;
    background: white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
}
#target{
    position: absolute;
    right: 0;
    width: 50%;
    text-align: center;
    padding: 1rem 0rem 0 0rem;
}
#data-player h1,h2{
    margin:0;
}
#icon{
    margin:auto;
    font-size: 5rem;
    padding-top: .5rem;
    cursor: pointer;
}
.justifyContent{
    justify-content: center;
}
@media(max-width:768px){
    #main{
        flex-direction: column-reverse;
    }
    #data-player{
        position: initial;
        height: 20vh;
        width: 100%;
        clip-path: none;
    }
    #target{
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    #icon{
        padding: 1rem;
    }
    #game{
        width: 100%;
        height: 80vh;
    }
}